<div class="container">

	<h1>User Login</h1>
		<% if flash[:errors_login] %>
			<p class='error'><%= flash[:errors_login] %></p>
		<% end %>
	<%= simple_form_for :session, url: sessions_path, method: :post do |f| %>
		<%=f.input :email %>
		<%=f.input :password %>
		<%=f.button :submit, 'Login', class: 'btn btn-primary' %>
	<% end %>

	<!-- <p class='link'><%= link_to 'View All Users', users_path %></p> -->

</div>
